.header {
  background-color: var(--white);
  padding: 24px 0 77px;
  border-bottom: 1px solid #dde2e5;
}

.header__heading {
  font-weight: 500;
  font-size: 50px;
  line-height: 64px;
  color: #212429;
  margin-top: 40px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navlink {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: var(--grey-3);
  margin-left: 24px;
}

.header__navlink_active {
  color: var(--black);
}
