html,
body {
  height: 100%;
}

.page {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

.page__header {
  height: 100px;
  background: blue;
  grid-area: header;
}

.page__footer {
  height: 100px;
  background: red;
  grid-area: footer;
}

.page__main {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 30px;
  max-width: 1110px;
  width: 100%;
  justify-self: center;
  grid-area: main;
}

.menu {
  width: 226px;
}
