.skeleton {
  width: 579px;
  height: 192px;
  border: 1px solid #acb5bd;
  border-radius: 8px;
  padding: 24px 40px 32px 24px;
}

.skeleton__title {
  display: flex;
  align-items: center;
}

.skeleton__image {
  width: 64px;
  height: 64px;
  background-color: var(--grey-2);
  border-radius: 50%;
  margin-right: 16px;
}

.skeleton__long-text {
  margin-top: 24px;
}

.skeleton__line {
  height: 20px;
  background: linear-gradient(
    92.51deg,
    #dde2e5 6.44%,
    #e2e6e8 38.47%,
    #f3f5f5 56.48%,
    #e3e7ea 77.5%,
    #dde2e5 102.52%
  );
  margin-bottom: 8px;
}

.skeleton__line-title {
  width: 172px;
}
.skeleton__line-subtitle {
  width: 257px;
}

.skeleton__line-text {
  width: 515px;
}
